/* markdown.css */
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin: 0.5em 0;
    padding: 0;
    font-family: Georgia, Palatino, serif, "Microsoft YaHei";
    font-weight: bold;
}

.markdown-body h1,
.markdown-body h2 {
    border-bottom: 1px solid rgb(231,231,231);    
    line-height: 1.5;
} 

.markdown-body h1 {
    font-size: 2rem;
}

.markdown-body h2 {
    font-size: 1.5rem;
}

.markdown-body h3,
.markdown-body h4 {
    font-size: 1.2rem;
    line-height: 1.2;
}

.markdown-body h5,
.markdown-body h6 {
    font-size: 1rem;
    line-height: 1;    
}

.markdown-body p {
    margin: 0.5em 0;
    font-size:1rem;
    line-height: 1.5;   
}

.markdown-body ul,
.markdown-body ol {
    padding-left: 1rem;
}

.markdown-body ol li {
    list-style-type: decimal;
}

.markdown-body ul li {
    list-style-type: disc;
}

.markdown-body table {
    margin:1rem 0;
    width: 100%;
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    border: solid #ccc 1px;
}

.markdown-body thead {
    background: #f0f0f0;
}

.markdown-body tbody tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.markdown-body td,
.markdown-body th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.markdown-body th {
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    padding: 5px;
    border-left: 1px solid #ccc;
}

.markdown-body td:first-child, 
.markdown-body th:first-child {
    border-left: none;
}

.markdown-body blockquote {
    border-left:.5em solid #eee;
    padding: 0 0 0 2em;
    margin-left:0;
    color: #666;    
}

.markdown-body blockquote cite {
    font-size:14px;
    line-height:20px;
    color:#bfbfbf;
}
.markdown-body blockquote cite:before {
    content: '\2014 \00A0';
}

.markdown-body code,
.markdown-body pre {
    /* font-family: Consolas, Monaco, Andale Mono, monospace; */
    /* background-color:#f7f7f7; */
    /* color: inherit; */
    overflow: auto;    
}

/* 
.markdown-body code {
    margin: 0 2px;
} */

/* .markdown-body pre {
    line-height: 1.7em;
    overflow: auto;
    padding: 6px 10px;
    border-left: 5px solid #6CE26C;
} */

/* .markdown-body pre > code {
    border: 0;
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: 1.6em;
    font-size: .95em;
    white-space: pre;
    background: 0 0;

} */

/* .markdown-body code {
    color: #666555;
} */

/* .markdown-body hr {
    text-align: left;
    color: #999;
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
} */

.markdown-body a {
    color: #0099ff;
    margin: 0 2px;
    padding: 0;
    vertical-align: baseline;
    text-decoration: underline;
}

.markdown-body a:hover {
    text-decoration: none;
    color: #ff6600;
}

.markdown-body img {
    max-width: 100%;
}

.markdown-body em {}
.markdown-body strong {}
